<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{/fragments/nav}"></th:block>
</header>
<main>
    <div class="container">
        <div class="categories">
            <article class="category">
                <a href="#">Electronics
                    <img src="https://res.cloudinary.com/nuxel-application/image/upload/v1616743270/categories/Electronics_wyxv5y.png">
                </a>
            </article>
            <article class="category">
                <a href="#">Vehicles
                    <img src="https://res.cloudinary.com/nuxel-application/image/upload/v1616743271/categories/vehicles_hisu5k.jpg">
                </a>
            </article>
            <article class="category">
                <a href="#">Real Estate
                    <img src="https://res.cloudinary.com/nuxel-application/image/upload/v1616743270/categories/real-estate_xdar6i.jpg">
                </a>
            </article>
            <article class="category">
                <a href="#">Sport
                    <img src="https://res.cloudinary.com/nuxel-application/image/upload/v1616743271/categories/sport_hwgme7.png">
                </a>
            </article>
            <article class="category">
                <a href="#">Pets
                    <img src="https://res.cloudinary.com/nuxel-application/image/upload/v1616743270/categories/pets_nw74ei.jpg">
                </a>
            </article>
            <article class="category">
                <a href="#">Home And Garden
                    <img src="https://res.cloudinary.com/nuxel-application/image/upload/v1616743270/categories/home-and-garden_ruiyji.jpg">
                </a>
            </article>
            <article class="category">
                <a href="#">Baby and Kids
                    <img src="https://res.cloudinary.com/nuxel-application/image/upload/v1616743270/categories/baby-and-kids_ietgzg.jpg">
                </a>
            </article>
            <article class="category">
                <a href="#">Services
                    <img src="https://res.cloudinary.com/nuxel-application/image/upload/v1616743271/categories/services_cg3jgj.jpg">
                </a>
            </article>
            <article class="category">
                <a href="#">Tools
                    <img src="https://res.cloudinary.com/nuxel-application/image/upload/v1616743271/categories/tools_xaph0w.jpg">
                </a>
            </article>
        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>