<div>
    <span class="info-message" *ngIf="infoMessage">{{infoMessage}}</span>
    <section style="margin-top: 70px;">
        <article>
            <div class="ad-image">
                <button (click)="changePhoto('-')" [disabled]="currentIndex === 0" disabled class="previous-photo"><i
                        class="fas fa-arrow-left"></i></button>
                <img src="{{currentImage.url}}">
                <button (click)="changePhoto('+')"
                    [disabled]="currentIndex + 1 === ad.images.length || ad.images.length === 1" class="next-photo"><i
                        class="fas fa-arrow-right"></i></button>
            </div>
             <div class="ad-info">
                 <div>         
                    <span class="added">Added: {{ad.date | date }}</span>
                    <span>{{ ad.price | number }} $</span>
                </div>
            <div class="ad-description">
                <span class="ad-name">{{ ad.name }}</span>
                <span style="font-weight: 700;">Description: </span>
                <span>{{ad.description}}</span>
            </div>
            </div>
              
        </article>
        <article class="ad-seller">
            <h5>Seller :</h5>
            <span>{{seller.profileDetails.firstName}} {{seller.profileDetails.lastName}}</span>
            <img class="ad-seller-image" src="{{seller.profileDetails.imageUrl}}">
            <h6>Contact : </h6>
            <span>{{ad.address.phoneNumber}}</span>
            <button  class="message-button"  [routerLink]="['/message/send-message',ad.id,seller.id,buyer.id]" *ngIf="isLoggedIn()">Message</button>
            <h5>Location : </h5>
            <span style="position: relative; left: 10px;">{{ad.address.city}}, {{ad.address.region}}</span>
        </article>
    </section>
</div>