<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body class="ad">
<header>
    <th:block th:include="~{/fragments/nav}">
    </th:block>
</header>

<div class="container mt-5">
    <main>
        <h2 class="text-center form-heading">Add Ad</h2>
        <form class="form w-50 mx-auto" th:object="${ad}" th:action="@{/ads/add}" th:method="post"
              enctype="multipart/form-data">

            <div class="form-group">
                <label for="name" class="font-weight-bold">Ad heading</label>
                <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Enter ad heading">
                <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
            </div>
            <div class="form-group">
                <label for="description" class="font-weight-bold">Description</label>
                <input th:field="*{description}" type="text" class="form-control" id="description"
                       placeholder="Enter content" maxlength="9000">
                <small class="text-danger" th:errors="*{description}"></small>
            </div>

            <div class="form-group">
                <label for="add-product-price" class="font-weight-bold">Price</label>
                <input type="number" min="0.01" step="any" class="form-control" id="add-product-price" name="price"
                       th:value="*{price}">
                <small class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
            </div>

            <div class="form-group">
                <label for="categories" class="font-weight-bold">Categories</label>
                <select multiple class="form-control" th:field="*{category}" id="categories">
                    <option class="form-check" th:each="category : ${categories}" th:value="${category.id}"
                            th:text="${category.name}">
                </select>
                <small class="text-danger" th:each="error : ${#fields.errors('category')}" th:text="${error}"></small>
            </div>

            <div class="form-group">
                <label class="font-weight-bold">Upload images</label>
                <input th:field="*{images}" type="file" class="form-control" id="imageFile1">
                <input th:field="*{images}" type="file" class="form-control" id="imageFile2">
                <input th:field="*{images}" type="file" class="form-control" id="imageFile3">
                <input th:field="*{images}" type="file" class="form-control" id="imageFile4">
                <input th:field="*{images}" type="file" class="form-control" id="imageFile5">
                <input th:field="*{images}" type="file" class="form-control" id="imageFile6">
            </div>

            <div class="form-group">
                <label for="city" class="font-weight-bold">City</label>
                <input th:field="*{city}" type="text" class="form-control" id="city" placeholder="Enter city">
                <small class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></small>
            </div>

            <div class="form-group">
                <label for="region" class="font-weight-bold">Region</label>
                <input th:field="*{region}" type="text" class="form-control" id="region" placeholder="Enter region">
                <small class="text-danger" th:if="${#fields.hasErrors('region')}" th:errors="*{region}"></small>
            </div>

            <div class="form-group">
                <label for="postCode" class="font-weight-bold">Post code</label>
                <input th:field="*{postCode}" type="number" class="form-control" id="postCode"
                       placeholder="Enter your city post code">
                <small class="text-danger" th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}"></small>
            </div>

            <div class="form-group">
                <label for="phoneNumber" class="font-weight-bold">Phone number</label>
                <input th:field="*{phoneNumber}" type="number" class="form-control" id="phoneNumber"
                       placeholder="Enter your phone number">
                <small class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}"
                       th:errors="*{phoneNumber}"></small>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </main>
</div>
<footer>
    <th:block th:include="~{fragments/footer}">
</footer>
</body>
</html>