<div>
       <div class="header">
        <img class="logo" src="../../../assets/img/NuXeL-white logo.png">
        <h1>Our team</h1>
        <section class="about-us">
            <article class="team-member">
                <img src="https://res.cloudinary.com/nuxel-application/image/upload/v1619081193/profile-pictures/49187572_tevp7d.jpg">
                <span>Nikolay Georgiev</span>
                <span>Java Developer</span>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item"><a href="https://github.com/NikolayG92"><i class="fab fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/nikolay-georgiev-01ba0518b/"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </article>
            <article class="team-member">
                <img src="https://res.cloudinary.com/nuxel-application/image/upload/v1622232708/profile-pictures/31330_qbtyzk.jpg">
                <span>Georgi Petrov</span>
                <span>Java Developer</span>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item"><a href="https://github.com/Georgi051"><i class="fab fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/georgi-petrov-a1b52b19a/"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </article>
        </section>
</div>