<div class="container-div">

    <div class="login-intro">
        <div>
            <h1>Sign up</h1>
            <span>Create account and post your ad or contact to other sellers</span>
            <img src="../../../assets/img/nuxel-logo-orange.jpg">
        </div>
    </div>
    <div class="login-form">

        <form [formGroup]="form" class="register" (ngSubmit)="submitHandler()">
            <div>
                <label for="username">Username</label>
                <input [class.input-error]="form.get('username').touched && !!form.get('username').errors" type="text"
                name="username" id="username" formControlName="username">
            </div>
            <p *ngIf="form.get('username').touched && form.get('username').errors?.required" class="input-error">
                Username is required!
            </p>
            <p *ngIf="form.get('username').touched && form.get('username').errors?.minlength" class="input-error">
                Username must be at least 4 characters!
            </p>
            <div>
                <label for="password">Password</label>
                <input [class.input-error]="form.get('password').touched && !!form.get('password').errors"
                    type="password" name="password" id="password" formControlName="password">
            </div>

            <p *ngIf="form.get('password').touched && form.get('password').errors?.required" class="input-error">
                Password is required!
            </p>
            <p *ngIf="form.get('password').touched && form.get('password').errors?.pattern" class="input-error">
                Password should be with one upper case, one lower case, one digit[0-9],
                one symbol and the minimum length should be more than 8.
            </p>
            <div>
                <label for="confirmPassword">Confirm Password</label>
                <input [class.input-error]="form.get('confirmPassword').touched && !!form.get('confirmPassword').errors"
                    type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword">
            </div>
            <p *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').errors?.required"
                class="input-error">
                Confirm Password is required!</p>
            <p *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').errors?.confirmPasswordValidator"
                class="input-error">
                Confirm password does not match password!</p>
            <div>
                <label for="email">Email</label>
                <input [class.input-error]="form.get('email').touched && !!form.get('email').errors" type="email"
                    name="email" id="email" formControlName="email">
            </div>
            <p *ngIf="form.get('email').touched && form.get('email').errors?.required" class="input-error">
                Email is required!
            </p>
            <p *ngIf="form.get('email').touched && form.get('email').errors?.email" class="input-error">
                Email is not valid!
            </p>
            <p *ngIf="errorMessage" class="input-error">{{errorMessage}}</p>
            <div class="btn-container">
                <button [disabled]="form.invalid" class="login-btn" type="submit">Sign up</button>
                <span>OR</span>
                <a routerLink="user/login">Login</a>
            </div>
        </form>
    </div>

</div>