<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
    <nav>
        <ul class="nuxel-navbar">
            <li class="logo">
                <a th:href="@{/}">
                <img src="https://res.cloudinary.com/nuxel-application/image/upload/v1616743270/categories/NuXeL-logo_t1j7jv.jpg">
                </a>
            </li>
            <li class="search">
                <input type="search">
                <i class="fas fa-search"></i>
            </li>
            <li>
                <a th:href="@{/about}">About Us</a>
            </li>
            <th:block sec:authorize="isAuthenticated()">

                <li>
                    <a th:href="@{/users/profile/(id = *{id})}">Profile</a>
                </li>
                <li>
                    <a th:href="@{/logout}">Logout</a>
                </li>
            </th:block>
            <th:block sec:authorize="isAnonymous()">
                <li>
                    <a href="http://localhost:9091/users/login">Login</a>
                </li>
                <li>
                    <a th:href="@{/users/register}">Register</a>
                </li>
            </th:block>
        </ul>
    </nav>
</th:block>