.ad-article {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.ad-article img {
    width: 200px;
    height: 200px;
}

.ads-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ad-details {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: white;
    margin-bottom: 20px;
}

.sort-form {
    height: 144px;
    margin-top: -45px;
}   