<div >
      <h3 class="text-center text-dark">{{category.name}}</h3>
   
        <section class="ads-list">
          <article *ngFor="let ad of adsByCategory;" class="ad-article">
            <div *ngFor="let image of ad.images; let i=index">
              <div *ngIf="i < 1" class="ad-details">
                <a routerLink="/ad/details/{{ad.id}}">
                <img [src]= "image.url">
              </a>
              <span class="ad-name">{{ ad.name }}</span>
         
              <span class="ad-date">{{ad.date | date }}</span>
    
              <span class="ad-price">{{ ad.price | number }}$</span>
              </div>
            </div>
          </article>
        </section>
</div>
