.profile-section {
    display: flex;
}

.change-password-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

article h1 {   
    display: flex;
    font-family: sans-serif;
    border-bottom: 1px solid black;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 90px;
}

.change-password-form {
    height: 465px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-password-form form {
    width: 60%;
}

.change-password-form div {
    display: flex;
    flex-direction: column;
}

.change-password-form input {
    border: none;
    border-bottom: 1px solid;
}

.change-password-form label {
    text-transform: uppercase;
    font-family: monospace;
    opacity: 0.7;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.confirm-btn {
    color: white;
    background: #00CB66;
    border: none;
    width: 170px;
    height: 50px;
    font-size: 1em;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.confirm-btn:hover{
    background: #D38E00;
}

.btn-container {
    display: flex;
    align-items: center;
}

.btn-container span {
    margin-bottom: 5px;
    opacity: 0.7;
    font-size: 0.8em;
}

.btn-container a {
    font-size: 1em;
    color: #00CB66;
    text-decoration: none;
    font-weight: 700;
}

.btn-container a:hover{
    text-decoration: none;
    color: #D38E00;
}

.input-error {
    color: red;
    margin: 3px;
}