<div>
    <section class="profile-section">
        <app-profile-management></app-profile-management>
        <article style="width: 50%;">
            <h1>Change Password</h1>
            <div class="change-password-form">

                <form [formGroup]="form" (ngSubmit)="submitHandler()">
                    <div>
                        <label for="oldPassword">Old Password</label>
                        <input [class.input-error]="form.get('oldPassword').touched && !!form.get('oldPassword').errors"
                            type="password" name="oldPassword" id="oldPassword" formControlName="oldPassword">
                    </div>

                    <p *ngIf="form.get('oldPassword').touched && form.get('oldPassword').errors?.required"
                        class="input-error">
                        Old password is required!
                    </p>
                    <p *ngIf="errorMessage" class="input-error">
                        {{errorMessage}}
                    </p>
                    <div>
                        <label for="newPassword">New Password</label>
                        <input
                            [class.input-error]="form.get('newPassword').touched && !!form.get('newPassword').errors"
                            type="password" name="newPassword" id="newPassword"
                            formControlName="newPassword">
                    </div>
                    <p *ngIf="form.get('newPassword').touched && form.get('newPassword').errors?.required"
                        class="input-error">
                        New password is required!</p>
                    
                    <div>
                        <label for="confirmNewPassword">Confirm New Password</label>
                        <input [class.input-error]="form.get('confirmNewPassword').touched && !!form.get('confirmNewPassword').errors"
                            type="password" name="confirmNewPassword" id="confirmNewPassword" formControlName="confirmNewPassword">
                    </div>

                    <p *ngIf="form.get('confirmNewPassword').touched && form.get('confirmNewPassword').errors?.required"
                        class="input-error">
                        Password is required!
                    </p>
                    <p *ngIf="form.get('confirmNewPassword').touched && form.get('confirmNewPassword').errors?.confirmPasswordValidator"
                        class="input-error">
                        Confirm password does not match password!</p>
                    
                    <div class="btn-container">
                        <button [disabled]="form.invalid" class="confirm-btn" type="submit">Change password</button>

                    </div>
                </form>
            </div>
        </article>
    </section>
</div>